<section>
    <ion-item>

    </ion-item>
    <div class='air air1'>
        <ion-row class="aboutcon">
            <h1 class="h1">About Us<br></h1>
            <ion-text class="abcompany">
                Welcome to E-Site!
                
                <br> We are passionate about selling product. Established in 2023, we
                have been dedicated to serve you ever since. Our journey began with a simple idea: to
                sell you our product. Today, we are proud to be
                
                
                <div>
                    <img src="../../../assets/01.png">
                </div>
            </ion-text>
            <ion-card class="abcard">
                <img alt="Silhouette of mountains" src="../../../assets/images.jpeg" />
                <ion-card-header>
                  <ion-card-title>Harsh Gupta</ion-card-title>
                  <ion-card-subtitle>ROR Deceloper</ion-card-subtitle>
                </ion-card-header>
              
              </ion-card>
              <ion-card class="abcard">
                <img alt="Silhouette of mountains" src="../../../assets/images.jpeg" />
                <ion-card-header>
                  <ion-card-title>Harsh Gupta</ion-card-title>
                  <ion-card-subtitle>Python Developer</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
              <ion-card class="abcard">
                <img alt="Silhouette of mountains" src="../../../assets/images.jpeg" />
                <ion-card-header>
                  <ion-card-title>Harsh Gupta</ion-card-title>
                  <ion-card-subtitle>Angular Developer</ion-card-subtitle>
                </ion-card-header>
              
              </ion-card>
        </ion-row>
    </div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>
</section>