// .aboutimg{
//     width: 100%;
//     height: 550px;
// }

// .aboutbutm{
//     background-color: white;
//     background-image: url(../../assets/aboutus.png);
//     color: white;
//     margin-top: 50px;
//     --height: 100%;
//     width: 100%;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// .text{
//     color: white;
//     font-family: cursive;
//     font-size: 24px;
//     padding-top: 220px;
//     padding-left: 10px;
// }
// .textsize{
//     margin-top: -13%;
//     padding-left: 10px;
// }
// .history{
//     color: #1e3142;
//     font-family:cursive ;
//     padding-left: 10px;
// }
.aboutcon{
  margin-top: -35%;
  margin-left: 10%;
}
.h1{
  font-family: script;
  font-weight: 700;
  font-size: 60px;
  margin-top: 10px;

}
.abcompany{
  margin-top: 15px;
  font-size: 20px;
  display: flex;
}
// .seconddiv{
//   margin-top: 45px;
//   margin-right: 400px;
//   font-style: italic;
//   font-weight: 200;

// }
.abcard{
  margin-left: 70px;
  margin-top: -70px ;
}

*{
    margin: 0;
    padding: 0;
  }
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }